.carrer-objectives{
    padding-bottom: 40px;
    .career-header{
        font-size: 25px;
        font-weight: 600;
    }
    .objectives-wraper{
        padding:20px;
        font-size: 20px;
        display: flex;
    }
}
