.homepage{
    .header{
        background-image: url('../assets/header-bg.png');
        // background-size: contain;
        background-position: right top;
        background-repeat: no-repeat;
        background-attachment: inherit;
        min-height: 370px;
        .main-menu-wrap.sticky-header{
            padding-top: 150px;
        }
        .row {
            margin-right: -15px;
            margin-left: -15px;
        }
        .header-menu{
            padding: 50px 0 25px;
            .social-share {
                padding-top: 25px;
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    list-style: none;
                    .social-share-item{
                        color: white
                    }
                    .fa-facebook{
                        padding: 4px 7px 4px 7px;
                        border: 1px solid white;
                        border-radius: 6px;
                    
                    }
                    li:first-child {
                        margin-left: 0;
                    }
                    li {
                        margin-left: 12px;
                        color: white;
                    }
                }
            }
        }
       
    }
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
