.professional-carrer{
    padding-bottom: 40px;
    .carrer-header{
        font-size: 25px;
        font-weight: 600;
    }
    .employment-wraper{
        padding:20px;
        font-size: 20px;
        display: flex;
        .employment-period{
            font-weight: 600;
            min-width: 22%;
        }
        .employment-description{
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            .tech-desciption{
                padding: 3px 0px 5px 0px;
            }
            .technologies{
                word-spacing: 5px;
            }
        }
    }
}
